slime_volleyball @ git+https://github.com/chasemcd/slimevolleygym.git
absl-py==2.0.0
aiosignal==1.3.1
attrs==23.1.0
bidict==0.22.1
blinker==1.6.2
box2d-py==2.3.5
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.2.1
dm-tree==0.1.8
Farama-Notifications==0.0.4
filelock==3.12.2
Flask==2.3.3
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
frozenlist==1.4.0
grpcio==1.57.0
gymnasium==0.29.1
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
MarkupSafe==2.1.3
msgpack==1.0.5
numpy==1.25.2
opencv-python==4.8.0.76
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
protobuf==4.24.2
pygame==2.5.1
pyglet==2.0.10
python-dateutil==2.8.2
python-engineio==4.8.0
python-socketio==5.10.0
pytz==2023.3
PyYAML==6.0.1
ray==2.6.3
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.0
scipy==1.11.2
simple-websocket==0.10.1
six==1.16.0
slime-volleyball @ git+https://github.com/chasemcd/slimevolleygym.git@17a79f881984ef1d685346edf1893cf4716f1463
swig==4.1.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
Werkzeug==3.0.1
wsproto==1.2.0
