<p> 
    You will be playing a simple version of the Overcooked video game with a partner. The goal of the game is to cook and deliver as many dishes as possible before time runs out. 
</p>

<p>    
    To cook a dish, you must collect three onions from the onion pile, one by one, and place them in the pot. Once three onions are placed in the pot, a timer will begin counting down. When it reaches zero, you must retrieve a plate, retrieve the cooked soup from the pot, and deliver it to the delivery area. Each delivered dish will give you and your partner one point. To maximize the number of points, you must coordinate your behavior to efficiently complete each step in the cooking process. 
</p>
    
<p>
    An example is shown below, with the pot cooking in the top, an onion pile on the left, a plate stack on the right, and the delivery zone in the bottom right. 
    <center><img src="static/assets/overcooked/instructions/annotated_overcooked.png" alt="Annotated Overcooked environment." height="460" width="360"></center> 
</p>

<p>
    To pick up an object, you must approach it and be facing the object and press the W key on your keyboard. This is also used for dropping an object or placing onions in the pot: when you're holding an object (it will appear smaller, attached to your character), press W to drop it. To deliver a dish, press the Q key when facing the delivery area. 
</p>

<p>
    You will play N rounds of the game with your partner which are 2.5 minutes each. You will review a bonus of $X for each dish delivered.
</p>

<p>
    <b>
        When you are ready to begin, press the start button below. If there is no player already waiting, you will join a waiting room. If there is a player already in a waiting room, the game will begin.
    </b>
</p>