<p> 
    You will be playing a game called Slime Volleyball against an opponent. The goal of the game is to score against your opponent and prevent them from scoring against you. </p>
<p>    
    To score a point, the ball must hit the ground on your opponent's side of the field. It is separated by a small black field post which you cannot cross, shown below. 
    <center><img src="static/assets/slime_volleyball/slime_vb_screenshot.png" alt="Annotated Overcooked environment." height="360" width="460"></center> 

</p>
    

<p>

    You will play 50 rounds of the game with the same partner. 
You will review a bonus payment for your score in the game of $0.03 per point that you score. To earn any bonus, you must remain active in the game.
</p>


<p>
    <b>
        After a few moments on this page, a start button will appear. When you are ready to begin, press it. If there is no player already waiting, you will join a waiting room. If there is a player already in a waiting room, the game will begin.
    </b>
</p>