<p> 
    You will be playing a simple version of the Overcooked video game with a partner. The goal of the game is to cook and deliver as many dishes as possible before time runs out. 
</p>

<p>    
    To cook a dish, you must collect three onions from the onion pile, one by one, and place them in the pot. Once three onions are placed in the pot, a timer will begin counting down. When it reaches zero, you must retrieve a plate, retrieve the cooked soup from the pot, and deliver it to the delivery area. Each delivered dish will give you and your partner one point. To maximize the number of points, you must coordinate your behavior to efficiently complete each step in the cooking process. 
</p>
    
<p>
    An example is shown below. There is the pot with two onions in it on the top, onion piles on the left and right sides, a plate stack on the bottom left, and the delivery zone in the bottom right. 
    <center><img src="static/assets/overcooked/instructions/annotated_cramped_room.png" alt="Annotated Overcooked environment." height="270" width="315"></center> 
</p>

<p>
    Use the arrow keys to move. To pick up an object, you must approach it and be facing the object and press the W key on your keyboard. This is also used for dropping an object or placing onions in the pot: when you're holding an object (it will appear smaller, attached to your character), press W to drop it. To deliver a dish, drop the dish into the delivery area. 
</p>

<p>
    You will play 20 rounds of the game with your partner which are roughly 40 seconds each. You will receive a bonus of $0.02 for each dish delivered, up to $1.50 total. To earn any bonus, you must be actively contributing in the game.
</p>

<p>
    <b>
        After a few moments on this page, the start button will turn green. When you are ready to begin, press it. If there is no player already waiting, you will join a waiting room. If there is a player already in a waiting room, the game will begin.
    </b>
</p>

<p>
    <b>
        <FONT COLOR="#ff0000">Do not navigate away from the page! Switching to another tab or opening other windows may degrade performance and impact your experience as well as that of other players.</FONT>
    </b>
</p>